.app-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card__container{
  width: 500px;
  height: 500px;
  border-radius: 10px;
  padding: 5px 10px;
}

.widget-container{
  position: absolute;
  top: 10px;
  right: 40px;
}

.dark{
  background-color: var(--light-bg-primary);
}

.light .main-card__container{
  background-color: var(--light-bg-secondary);
}

.dark{
  background-color: var(--dark-bg-primary);
}

.dark .main-card__container{
  background-color: var(--dark-bg-secondary);
}

.theme-mode__title{
  text-transform: capitalize;
  text-align: center;
}

.light .theme-mode__title{
  color: var(--light-header1-color);
}

.dark .theme-mode__title{
  color: var(--dark-header1-color);
}