:root{
    --light-bg-primary:#DEF5E5;
    --light-bg-secondary:#8EC3B0;
    --dark-bg-primary:#864879;
    --dark-bg-secondary:#1F1D36;
    --light-header1-color:#000;
    --dark-header1-color:#FFF;
}